body {margin: 0;padding: 0;font-family: '微软雅黑'}
h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dd, dt, p {list-style: none;margin: 0;padding: 0;}
a {text-decoration: none}
img {margin: 0;padding: 0;vertical-align: top}
button{outline: none;padding: 0 !important;}
/*left*/
.survey{margin: 10px 20px;position: relative;overflow: hidden;min-width: 1100px;overflow-x: auto}
/*height: 1200px;*/
.survey-left{float: left;width: 240px;border:1px solid #e4e4e4;background: rgba(250, 250, 250, 1); position: fixed;}
.survey-right{float: right;min-width: 840px;height: inherit;border:1px solid #e4e4e4;background: rgba(250, 250, 250, 1);;min-height: inherit}
.survey-left-items{}
.survey-left-title{height: 30px;line-height: 30px;font-size: 14px;color: #666;padding-left: 10px;}
.survey-left-con{overflow: hidden;}
.moveActive h2{float: left;overflow: hidden;font-weight: normal;border:1px solid #e4e4e4;width: 100px;height: 26px;line-height: 24px;cursor: pointer;margin: 5px 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
.moveActive h2 span{float: left;display: block;font-size: 12px;height: inherit;width: 80px;color: #999;}
.ico-span{display: block;width: 20px !important;float: left;text-align: center;margin-top: 5px;}
.moveActive{}
.moveItems{position: absolute;background: #fff;}
.moveItems h2{margin: 0 !important;}
.survey-right-title{border:1px solid #e4e4e4;background: #fff;height: 45px;line-height: 45px;margin: 15px;padding: 0 15px;color: #666;font-size: 12px;}
.survey-right-items{min-height: 60px;padding: 15px 0 0 0;cursor: move;}
.survey-right-con{margin: 0 15px;min-height: 100px; position: relative;}
.survey-right-main{width: 100%;overflow-x: hidden;overflow-y: auto;}
/*max-height: 792px;min-height: 500px*/
.survey-right-save{border-top: 1px solid #e4e4e4; }
.survey-right-save-con{width: 420px;margin: 0 auto;}
.survey-right-save button{width: 120px;height: 35px;border:none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;margin: 15px 10px;font-size: 14px;float: left;}
.survey-btn-del{color: #333;background: rgba(204, 204, 204, 1);}
.survey-btn-save{color: #fff;background: rgba(22, 155, 213, 1);}
.survey-btn-release{color: #fff;background: rgba(22, 155, 213, 1);}
/*模板*/
.template{width: 0;height: 0;overflow: hidden;}
.radio{}
.template-title{font-size: 14px;color: #666;margin: 0 15px;line-height: 26px;}
.template-title i{font-style: normal;display: inline-block;}
.template-title em{font-style: normal;font-weight: normal;display: inline-block;}
.template-title span{font-size: 14px;display: inline-block;width: 400px;height: 26px;line-height: 26px;border:1px solid rgba(0,0,0,0);padding-left: 3px;}
.template-con h2{font-weight: normal;font-size: 12px;line-height: 28px;}
.template-con{margin: 15px 20px;}
.template-con h2 {overflow: hidden;height: 29px;}
.template-con h2 p{display: block;width: 16px;height: 16px;background: #0079FE; text-align: center;cursor: pointer;float: left;
    overflow: hidden;margin: 6px 0 0 5px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    }
.template-con h2 p i{display: block;width: 100%;height: inherit;text-align: center;line-height: 14px;font-size: 12px;font-style: normal;color: #fff; }
.del-lable{display: none !important;}
.template-con h2 label span{height: 24px;display: inline-block;line-height: 24px;padding-left: 3px;border:1px solid rgba(0,0,0,0);margin-left: 3px;font-weight: normal !important}
.checkbox-con{overflow: hidden;}
.checkbox-con h2{font-weight: normal;font-size: 12px;line-height: 28px;}
.template-html{padding: 15px 0 30px 0;position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    }
.input-con{}
.input-con input{width: 300px;height: 22px;padding-left: 3px;margin:1px 0 0 0 !important;border:1px solid #ccc;outline: none;}
.input-con input:focus{border:1px solid #0079FE;}
.template-items{position: relative;}
.featuresBtn{position: absolute;top: 10px;right: 0;z-index: 9999;}
.featuresBtn button{width: 54px;height: 32px;font-size: 14px;color: rgba(0, 121, 254, 1);background: #fff;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;border:1px solid rgba(0, 121, 254, 1);margin: 0 15px 0 0;cursor: pointer;outline: none;}
.addBtn{position: absolute;bottom: 10px;left: 15px;}
.template-add{color: #169BD5;font-size: 14px;border:none;background: none;outline: none;cursor: pointer;}
.survey-right-con .survey-right-items .template-html{border:1px solid #0079FE;background: #fff;}
.editActive{border:1px solid #0079FE !important;outline: none;min-width: 200px;cursor: text;}
.template-edit-active{background: #0079FE !important;color: #fff !important;}
.parameter-add{position: relative;display: none;height: 26px;margin-left: 5px;}
.parameter-add input{position: absolute;top: 0;left: 0;width: 200px;height: 22px;outline: none;border:1px solid #ccc;padding-left: 3px;}
.parameter-add input:focus{border:1px solid #0079FE;}
.parameter-add button{position: absolute;top: 0;width: 40px;height: 26px;border:none;color: #fff;cursor: pointer;}
.add-determine{left: 200px;background: #0079FE;}
.add-cancel{left: 240px;background: #c2c2c2;}
.input-template{float: left;margin-top: 8px !important;}
.label-template{float: left;}
.survey-right-items-active{display: none;}
.mask-box{position: absolute;top: 0;left: 0;background:rgba(207,216,238,0.8);width: 100%;z-index: 999999;cursor: move;}
.mask-box h3{font-size: 14px;color: #666;padding: 15px;}
.mask-box h3 i{font-style: normal}
.line-survey{width: 100%;height: 1px; }
.line-survey-end{width: 100%;height: 1px; margin-top: 80px;}
.setSpanVal{position: relative;}
.setSpanVal input{width: 95%;border:none; position: absolute;top: 0;left: 0;outline: none;padding-left: 3px;}
.template-title .setSpanVal input{height: 24px;}
.template-con .setSpanVal input{height: 22px;}
.input-con .setSpanVal input{height: 20px;border:none !important}
/*弹窗*/
.pop{position: fixed;background: #fff;border:1px solid #eee;width: 300px;top: 100px;left: 100px;z-index: 999999;
    -webkit-box-shadow: 0 0 10px 1px #ccc;
    -moz-box-shadow: 0 0 10px 1px #ccc;
    box-shadow: 0 0 10px 1px #ccc;
    }
.pop-title{height: 25px;line-height: 25px;color: #333;font-size: 14px;padding-left: 15px;border-bottom: 1px solid #f1f1f1;background: #f1f1f1;}
.pop-con{height: 60px;line-height: 60px;text-align: center;font-size: 12px;color: #666;}
.pop-btn{height: 45px; overflow: hidden;}
.pop-btn button{border:none;color: #fff;width: 50px;height: 28px;margin: 3px 15px;outline: none;cursor: pointer;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    }
.pop-determine{background: #0079FE;float: right;}
.pop-cancel{background: #c2c2c2;float: left;}




